<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../styles/login-style.css">
    <!-- <script src="../index.js" defer></script> -->

</head>

<body>
    <div class="left">
        <h1>📚<br> Join Now & Get Your AI-Powered <span>Learning Path!</span></h1>
        <p>Tell us a bit about yourself and we'll craft a customized learning journey based on your experience,
            interests and aspirations</p>
        <svg class="divider " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none">
            <path d="M.5 35.28C1.04 32.2.07 26 .5 19.13.9 12.26 1.06 5.4.38 0H0v35.28z" fill="#4A91BF" />
            <!-- <path
                d="M1 35.28c.8-3.17-.38-7.3-.55-10.04-.17-2.76 1.47-9.25 1.3-12.68C1.58 9.14.91 7.92.88 5.52.86 3.12 1.76 0 1.76 0H0v35.28z"
                opacity=".5" fill="#0f3d3e" /> -->
            <path
                d="M1.85 35.28c-.83-2.57-.3-7.68-.42-11.8-.12-4.1-.61-6.85-.28-9.57.33-2.73 1.17-5.61 1-8.61-.19-3-.82-4.73-.84-5.3H.1v35.28z"
                opacity=".5" fill="#4A91BF" />
        </svg>
    </div>

    <div class="right">
        <div class="form-container">
            <p>Register</p>
            <form>
                <div class="user-box">
                    <input required name="user-name" type="text">
                    <label>User Name</label>
                </div>
                <div class="user-box">
                    <input required="" name="email" type="text">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Confirm Password</label>
                </div>
                <div class="user-select">
                    <label>what is your highest level of education?</label>
                    <select>
                        <option>level of education</option>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                    <div class="select-arrow"></div>
                </div>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Create Your Account
                </a>
            </form>
            <p>Already have an account? <a href="" class="a2">Sign in!</a></p>
        </div>
    </div>
</body>

</html>