<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../styles/login-style.css">
    <link rel="stylesheet" href="../styles/btn.css">
    <script src="../js/register.js" defer></script>
</head>

<body>
    <div class="left">
        <h1><br> Join Now & Get Your AI-Powered
            with <span>Path4U</span>
        </h1>
        <p>Tell us a bit about yourself and we'll craft a customized learning journey based on your experience,
            interests and aspirations
        </p>
        <img src="../assets/ll2.png" alt="no image">
        <svg class="divider " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none">
            <path d="M.5 35.28C1.04 32.2.07 26 .5 19.13.9 12.26 1.06 5.4.38 0H0v35.28z" fill="#30A8D0" />
            <path
                d="M1 35.28c.8-3.17-.38-7.3-.55-10.04-.17-2.76 1.47-9.25 1.3-12.68C1.58 9.14.91 7.92.88 5.52.86 3.12 1.76 0 1.76 0H0v35.28z"
                opacity=".5" fill="#30A8D0" />
            <path
                d="M1.85 35.28c-.83-2.57-.3-7.68-.42-11.8-.12-4.1-.61-6.85-.28-9.57.33-2.73 1.17-5.61 1-8.61-.19-3-.82-4.73-.84-5.3H.1v35.28z"
                opacity=".5" fill="#30A8D0" />
        </svg>
    </div>

    <div class="right">

        <!-- signin form -->
        <div id="SigninForm" class="form-container show">
            <p>Signin</p>
            <form>

                <div class="user-box">
                    <input required="" name="email" type="text">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Password</label>
                </div>
                <a href="#" class="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Signin
                </a>
            </form>
            <p>Don't have an account? <a id="toggleForm" href="#" class="a2">Register here!</a></p>
        </div>

        <!-- register form -->
        <div id="RegisterForm" class="form-container hide">
            <p>Register</p>
            <form>
                <div class="user-box">
                    <input required name="user-name" type="text" >
                    <label>User Name</label>
                </div>
                <div class="user-box">
                    <input required="" name="email" type="text">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Confirm Password</label>
                </div>
                <div class="user-box">
                    <input required name="yob" type="number">
                    <label>Year of brth</label>
                </div>
                <div class="user-select">
                    <label>Gender</label>
                    <select name="gender" required>
                        <option>Select</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                    <div class="select-arrow"></div>
                </div>
                <div class="user-select">
                    <label>what is your highest level of education?</label>
                    <select name="degree" required>
                        <option value="">Select</option>
                        <option value="Less than Secondary">Less than Secondary</option>
                        <option value="Secondary">Secondary</option>
                        <option value="Bachelor's">Bachelor's</option>
                        <option value="master's">Master's</option>
                        <option value="doctorate">Doctorate</option>
                    </select>
                    <div class="select-arrow"></div>
                </div>

                <div class="user-select">
                    <label>Interest or Degree Topic</label>
                    <select name="interest" required>
                        <option value="">Select</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Health">Health Sciences</option>
                        <option value="Humanities">Humanities</option>
                        <option value="economics">Economics (MIT)</option>
                        <option value="physics_engineering">Physics & Engineering (MIT)</option>
                        <option value="chemistry">Chemistry (MIT)</option>
                        <option value="biology">Biology (MIT)</option>
                    </select>
                    <div class="select-arrow"></div>
                </div>
                <a href="#" class="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Create Your Account
                </a>
            </form>
            <p>Already have an account? <a id="toggleForm" href="" class="a2">Sign in!</a></p>
        </div>
    </div>
</body>

</html>